		<!-- sign in form card -->
        <div class="card card-container" ng-controller="LoginCtrl">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <img id="profile-img" class="img img-responsive" style="margin-bottom:10px;" src="images/cell.png" />
            <p id="profile-name" class="profile-name-card">Split, Expand, Monitor and Sell !</p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-username"></span>

                <input type="text" id="userName" class="form-control" placeholder="Username" ng-model="params.username"
           ng-model-options="{ getterSetter: true }" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="params.password" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" ng-click="login()">Sign in</button>

                <p>{{sessionId}} . {{loginSucceed}}</p>
            </form><!-- /form -->
        </div><!-- /card-container -->
    