

<div>
  <div class="row">
 <!--  <div class="col-md-6" style="border-right: 1px solid #e5e5e5;" ng-include="'/views/total-sales.html'" scope="" onload=""></div> -->
  <div class="col-md-2" ng-include="'/views/total-sales.html'" ></div>
  <div class="col-md-5" ng-include="'/views/sales-month.html'"></div> 
  <div class="col-md-5" ng-include="'/views/top-sales.html'"></div>
  <div class="col-md-5 col-md-offset-2" ng-include="'/views/top-sales-men.html'"></div>
</div>
<div class="row">
   
</div>
</div>